BasedOnStyle: LLVM
#BreakBeforeBraces: Linux
#ContinuationIndentWidth: 8
#IndentWidth: 8
ContinuationIndentWidth: 2
IndentWidth: 2
#UseTab: Always
AllowShortIfStatementsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
IndentCaseLabels: false
IndentGotoLabels: false
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 0
