! For high dpi screen (e.g. surface pro)
!Xft.dpi: 180.0

!URxvt*font: xft:mono:pixelsize=14:charwidth=8:antialias=true
!URxvt*scrollBar: false
!URxvt*lineSpace: 2

!XTerm*faceName: mono:pixelsize=14:bold:italic:charwidth=9:antialias=true
!XTerm*faceNameDoublesize: WenQuanYi Micro Hei:pixelsize=14:charwidth=9
!XTerm*scaleHeight:1.1
!XTerm*geometry: 80x43+200+0
!XTerm*geometry: 80x20
!XTerm*termName: XTerm-256color
!XTerm*inputMethod: ibus
!XTerm*font: 7x14
XTerm*font: -misc-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
XTerm*eightBitInput: false
XTerm*eightBitOutput: true
XTerm*background: black
XTerm*foreground: white
