[Unit]
Description=Shadowsocks client service
After=network.target

[Service]
ExecStart=/usr/bin/ss-local -c /etc/ss.client.json
Restart=on-failure

[Install]
WantedBy=multi-user.target

