[Unit]
Description=Shadowsocks client service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=wallace
Group=wallace
PermissionsStartOnly=true
ExecStart=/usr/bin/ss-local -c /home/wallace/work/unixfiles/ss.client.json
TimeoutSec=600
Restart=on-failure
RuntimeDirectory=ssclient
RuntimeDirectoryMode=755
LimitNOFILE=10000

