xterm*faceName: Cascadia Code
xterm*faceSize: 18
xterm*geometry: 80x16
xterm*background: #FFFFDD
xterm*foreground: #000000

xterm*VT100.Translations: #override \
	<Btn4Down>: string(0x1b) string("[A") \n\
	<Btn5Down>: string(0x1b) string("[B")

xterm*allowAlternateScroll: true
